/* ----------------------------- */

div.content-area {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.content-pagination {
    background-color: transparent;
}

.content-table {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.content-table .content-item {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.content-table .content-item > div {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    width: 245px;
    height: auto;
    /*height: 291px;*/
    position: relative;
    padding: 20px 0;
    margin: 8px;
    border-radius: 18px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
    background-size: 100% 100% !important;
}

.content-table .content-item > div > div {
    pointer-events: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-table .content-item > div > div:first-child {
    pointer-events: auto;
}

.content-table .content-item > div > div:last-child {
    pointer-events: auto;
}

.content-table .content-item:hover > div {
    margin: 0 8px 16px;
    -webkit-box-shadow: 0 8px 12px #888;
    -moz-box-shadow: 0 8px 12px #888;
    box-shadow: 0 8px 12px #bbb;
}

.project-score {
    display: inline-block;
    min-width: 68px;
    height: 68px;
    font-size: 32px;
    font-weight: 600;
    color: rgba(40, 40, 40, 1);
    line-height: 68px;
    background-color: rgba(239, 243, 251, 1);
    padding: 0 5px;
    margin: 0 0 5px;
    -webkit-border-radius: 68px;
    -moz-border-radius: 68px;
    border-radius: 68px;
    -webkit-box-shadow: 0 0 0 4px rgba(239, 243, 251, .3);
    -moz-box-shadow: 0 0 0 4px rgba(239, 243, 251, .3);
    box-shadow: 0 0 0 4px rgba(239, 243, 251, .3);
}

.project-title,
.project-btns {
    font-size: 18px;
    margin: 12px 0;
}

.content-table .content-item > div > div.project-title {
    display: flex;
    white-space: unset;
    overflow: unset;
    -ms-text-overflow: unset;
    text-overflow: unset;
    height: 40px;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    padding: 0 10px;
}

.project-btns {
    margin: 12px 0 0;
}

.content-table .content-item > div > div > label {
    display: inline-block;
    text-align: right;
    width: 150px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.content-table .content-item > div > div > label:first-child {
    width: auto;
    min-width: 75px;
    text-align: left;
}

.content-table table tbody tr.total {
    background-color: transparent;
    font-weight: bold;
}

div.edit-container {
    padding: 70px 80px;
}

.edit-container .input-area textarea {
    width: 785px;
    min-width: 785px;
    max-width: 785px;
}

.edit-area[data-type="view"] .input-area {
    text-align: left;
    width: 24%;
}

.edit-area[data-type="view"] .input-area label {
    font-size: 18px;
    font-weight: 500;
    white-space: normal;
    word-break: break-all;
    max-width: 85%;
    vertical-align: top;
}

.edit-area[data-type="view"] .edit-container .input-area:first-child label,
.edit-area[data-type="view"] .edit-container .input-area:nth-child(3) label,
.edit-area[data-type="view"] .edit-container .input-area:nth-child(2) label,
.edit-area .edit-container .input-area.title-score label {
    margin-left: 0;
    vertical-align: baseline;
}

.edit-area[data-type="view"] .edit-container .input-area label[name="title"] {
    width: 65%;
}

.edit-area[data-type="view"] .edit-container .input-area:first-child,
.edit-area[data-type="view"] .edit-container .input-area:nth-child(3),
.edit-area[data-type="view"] .edit-container .input-area:nth-child(2),
.edit-area .edit-container .input-area.title-score {
    min-width: 24%;
    width: auto;
}

.edit-area[data-type="view"] .edit-container .input-area:first-child label:first-child,
.edit-area[data-type="view"] .edit-container .input-area:nth-child(3) label:first-child,
.edit-area[data-type="view"] .edit-container .input-area:nth-child(2) label:first-child,
.edit-area .edit-container .input-area.title-score label:first-child {
    margin: 0 0px 0 30px;
    font-size: 38px;
}

.edit-area[data-type="view"] .edit-container .input-area.textarea {
    width: 100%;
}

div.edit-area[data-type="edit"] {
    overflow-y: auto;
    padding-bottom: 50px;
}

.btn-white {
    position: relative;
}

.btn-white .task-alert {
    display: none;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    right: 5px;
    top: 5px;
}

.btn-white .task-alert[data-status="1"] {
    display: block;
}